<nav class="navbar navbar-expand-lg bg-body-tertiary bg-info-subtle">
    <div class="container">
      <a class="navbar-brand" routerLink="home">E-commerce</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <form class="d-flex" role="search" *ngIf="menutype">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <div class="collapse navbar-collapse" [ngSwitch]="menutype" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0" *ngSwitchCase="'default'">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="seller-auth">Seller</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Log out</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cart(0)</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0" *ngSwitchCase="'seller'">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="seller-auth">Product List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="seller-add-product">Add Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">{{loggedUserName | titlecase}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>