<div class="col-md-6 m-auto rounded mt-5 bg-info-subtle shadow p-3">
    <form #addProduct="ngForm" (ngSubmit)="addproducts(addProduct)">
      <h3>Add new Product</h3>
      <div class="mb-3">
        <label for="username" class="form-label">Enter Product Name</label>
        <input type="text" name="name" ngModel class="form-control" id="username" aria-describedby="usernamehelp">
        <div id="usernamehelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Product Price</label>
        <input type="text" name="price" ngModel class="form-control" id="exampleInputEmail1"
          aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Product Color</label>
        <input type="text" name="color" ngModel class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Product Catagory</label>
        <input type="text" name="catagory" ngModel class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Product Description</label>
        <textarea name="description" id="" ngModel cols="" rows="" class="form-control"></textarea>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Product Image</label>
        <input type="text" name="image" ngModel class="form-control" id="exampleInputPassword1">
      </div>
      <button type="submit" class="btn btn-primary">Add Product</button>
      <button class="ms-5 btn btn-primary" type="button">Allredy Register Go To Login</button>
    </form>
</div>